docs
tmp/
test/
.nyc_output/
.gitattributes
jsdoc.conf
.eslintrc.json
.travis.yml
.codeclimate.yml
.babelrc.json
.c8rc.yml
.commitlintrc.mjs
.eslintignore
.eslintrc
.gitignore
.nvmrc
.prettierrc
.releaserc.json
.lintstagedrc.yml
