language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - 'node'
  - '9'
  - '8'
before_script:
  - greenkeeper-lockfile-update

after_script: greenkeeper-lockfile-upload

after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/

#override npm ci for now
install: npm install
